# .env.example
GEMINI_API_KEY=
RAZORPAY_KEY_ID='rzp_test_SfRB3PwY0etxNE'
SMTP_HOST='smtp.hostinger.com'
SMTP_PORT='465'
SMTP_USER='support@sellassist.com'
SMTP_PASS='Sellassist@0416'
SMTP_FROM='support@sellassist.com'
