<div class="tab-shell">
  @for (section of sections; track section.title; let first = $first) {
    <app-ui-card [elevated]="first">
      <app-ui-section [title]="section.title" [icon]="section.icon" [description]="section.description">
        <div class="tab-shell__grid">
          @for (field of section.fields; track field.key) {
            <app-editable-field
              class="tab-shell__grid-item"
              [class.tab-shell__grid-item--full]="field.multiline"
              [label]="field.label"
              [maxLength]="field.maxLength"
              [multiline]="!!field.multiline"
              [value]="fieldValues[field.key]"
              [suggestions]="suggestionsFor(field.key)"
              [storageKey]="'general-details.' + field.key"
            />
          }
        </div>
      </app-ui-section>
    </app-ui-card>
  }
</div>
